<h1>MEDICAL SPECIALITY</h1>

<form action="{% url 'medespecialitys' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>Medical Speciality</h1>
        </legend>
        {% if error_message %}
        <p class ="error"><strong>{{ error_message }}</strong></p>
        {% endif %}
        <label for="name">Name</label>
        <input type="text" name="name"/>
        <br/>
        <input type="submit" value="Submit">
    </fieldset>
</form>

<ul>
    {% for medespeciality in medespecialitys %}
    <li>{{medespeciality}}</li>
    {% endfor %}
</ul>